body {
  font-family: "Courier New", Courier, monospace;
  background: rgb(63, 131, 191);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#author {
  /* border: 1px solid; */
  text-align: center;
}
h6 {
  color: antiquewhite;
  margin-top: -20px;
}
h1 {
  font-weight: bold;
}

#plot {
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#container {
  width: 65vmin;
  height: 70vmin;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background: #293447;
  box-shadow: 0 20px 40px rgba(52, 87, 220, 0.2);
}

#score-board {
  color: #B8C6DC;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}

#board {
  height: 100%;
  width: 100%;
  display: grid;
  background: #212837;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.controls {
  padding: 10px;
  width: 200px;
  margin: auto;
  height: 200px;
  display:  grid;
  gap: 10px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.controls i {
  border: 1px solid;
  padding: 15px;
  cursor: pointer;
}

#left{
  font-size: xx-large;
  grid-column-start: 1;
  grid-column-end: 2;
}

#up{
  font-size: xx-large;
  grid-column-start: 2;
  grid-column-end: 3;
}

#right{
  font-size: xx-large;
  grid-column-start: 3;
  grid-column-end: 4;
}

#down{
  font-size: xx-large;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.food {
  background: tomato;
  border-radius: 50%;
}
.snakeHead {
  background: teal;
  border-radius: 30%;
}

@media screen and (max-width: 1200px){
  #controller{
    display: flex;
  }
  #plot {
    padding: 0 100px 0 50px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 900px) {
  #plot {
    padding: 0 ;
    flex-direction: column;
    justify-content: space-between;
  }
  #container {
    width: 90vmin;
    height: 90vmin;
  }
  #score-board {
    font-size: 1rem;
    padding: 15px 27px;
  }
  #controller {
    display: flex;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 500px) {
  #container {
    width: 90vmin;
    height: 110vmin;
  }
  #score-board {
    font-size: 1rem;
    padding: 15px 27px;
  }
  #controller {
    display: flex;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 350px){
  /* overlap button over board */
}