body {
  font-family: "Courier New", Courier, monospace;
  background: rgb(63, 131, 191);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#author {
  /* border: 1px solid; */
  text-align: center;
}
h6 {
  color: antiquewhite;
  margin-top: -20px;
}
h1 {
  font-weight: bold;
}

#plot {
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#container {
  width: 65vmin;
  height: 70vmin;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background: #293447;
  box-shadow: 0 20px 40px rgba(52, 87, 220, 0.2);
}

#score-board {
  color: #B8C6DC;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}

#board {
  height: 100%;
  width: 100%;
  display: grid;
  background: #212837;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.controls {
  padding: 10px;
  width: 200px;
  margin: auto;
  height: 200px;
  display:  grid;
  gap: 10px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.controls i {
  padding: 10px;
  cursor: pointer;
  font-size: xx-large;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.controls i:hover {
  background-color: #212837;
  color: #ffffff;
}

#left{
  padding-left: 20px;
  grid-column-start: 1;
  grid-column-end: 2;
}

#up{
  padding-left: 23px;
  grid-column-start: 2;
  grid-column-end: 3;
}

#right{
  padding-left: 20px;
  grid-column-start: 3;
  grid-column-end: 4;
}

#down{
  padding-left: 23px;
  grid-column-start: 2;
  grid-column-end: 3;
}

#play-pause-btn{
  padding-left: 20px;
}

.food {
  background: tomato;
  border-radius: 50%;
}

@keyframes food-animation {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
/* Apply the animation to the food */
.food {
  animation: food-animation 1s infinite;
}

.snakeHead {
  background: teal;
  border-radius: 30%;
  animation: head-animation 0.2s ease-in-out infinite alternate;
}

@keyframes head-animation {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0);
  }
}

@media screen and (max-width: 1200px){
  #controller{
    display: flex;
  }
  #plot {
    padding: 0 100px 0 50px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 900px) {
  #plot {
    padding: 0 ;
    flex-direction: column;
    justify-content: space-between;
  }
  #container {
    width: 90vmin;
    height: 90vmin;
  }
  #score-board {
    font-size: 1rem;
    padding: 15px 27px;
  }
  #controller {
    display: flex;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 500px) {
  #container {
    width: 90vmin;
    height: 110vmin;
  }
  #score-board {
    font-size: 1rem;
    padding: 15px 27px;
  }
  #controller {
    display: flex;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 350px){
  /* overlap button over board */
}